.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0rem;
  pointer-events: none;
}

.absolute-bottom {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-top {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.upside-down {
  transform: rotateZ(180deg);
}

.will-animate-blur {
  opacity: 0;
  filter: blur(15px);
  pointer-events: none;
  transition: filter ease 500ms, opacity ease 500ms;
}

.will-animate-blur.animate-blur {
  pointer-events: all;
  opacity: 1;
  filter: blur(0px);
}

.fake-textarea {
  width: 12rem;
  text-align: left;
}

.square {
  width: var(--size);
  height: var(--size);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0rem;
}

.caption {
  font-size: 1.1rem;
  opacity: 0.6;
  margin: 0rem;
}

.paragraph {
  margin: 0rem;
  font-size: 1.1rem;
  opacity: 0.9;
  text-align: left;
}

.box {
  width: fit-content;
  padding: 0.7rem 1.4rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0deg, 0%, 30%);
  background: linear-gradient(45deg, hsl(0deg, 0%, 0%), hsl(0deg, 0%, 10%));
  box-shadow: 0rem 0rem 1rem 0rem hsl(0deg 0% 15%);
  pointer-events: all;
}

.button {
  display: flex;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-color: hsl(0deg, 0%, 20%);
  border-width: 1px;
  border-radius: 1rem;
  background: hsl(0deg, 0%, 10%);
  font-size: 0.9rem;
  cursor: pointer;
}

.button:hover {
  border-color: hsl(0deg, 0%, 40%)
}