.results-grid {
  gap: 0.2em;
  text-align: left;

  > * {
    padding: 0.3em 1em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;

    &.fail {
      background-color: hsl(0deg, 100%, 50%, 0.1);
      border-color: hsl(0deg, 100%, 50%)
    }

    &.pass {
      background-color: hsl(120deg, 100%, 30%, 0.1);
      border-color: hsl(120deg, 100%, 30%)
    }

    /* Ensure the title width are the same length */
    > *:first-child {
      max-width: 12em;
      min-width: 12em;
    }
  }
}